
.search_img{
  overflow: hidden;
}
.search_title{
  font-size: 3vw;
}
.search_date{
  font-size: 1.7vw;
  text-align: right;
}
.article_text{
  font-size: 2.5vw;
}
.search_pad{
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  padding-left: 15%;
  padding-right: 15%;
}
.nopost_div{
  width: 100%;
  text-align: center;
}
.search_genre{
  font-size: 1vw;
}
