button{
  position: center;
}

#navbar {
  background-color: #152f4f;
}

#footer {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  padding: 3px 10px;
  background-color: #053949;
}

#footer a {
  font-size: 30px;
}

li {
 padding: 5px;
}

/* FOOTER */
.footer {
  background: #152F4F;
  color: white;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links img{
  padding-left: 1px;
}
.footer .links li a {
  display: block;
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  padding-left: 20px;
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}
.footer .about-company a:hover {
  color: #4180CB;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 600px) {
  #navbar .search-container {
    float: none;
  }

  #navbar a, #navbar input[type=text], #navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  #navbar input[type=text] {
    border: 1px solid #ccc;
  }
}
