.flex(@direction, @justify) {
  display: flex;
  flex-direction: @direction;
  flex-wrap: wrap;
  justify-content: @justify;
}

.icons(@color) {
  background-color: @color;
  color: #fff;
}

.overlay(@width, @height) {
  width: @width;
  height: @height;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  transition: 0.5s;
  & .side-form-content {
    top: 10%;
    margin-top: 0px;
  }
  & .close-btn {
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  & a {
    padding: 8px;
    font-size: 36px;
    color: #818181;
    transition: 0.3s;
  }
  a:hover, a:focus {
    color: #f1f1f1;
  }
}
