@import url(https://fonts.googleapis.com/css?family=Open + Sans);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.progress-container {
  height: 6px;
  background: #ccc;
}
.progress-container .progress-bar {
  height: 6px;
  width: 0%;
}
.navi {
  background-color: #b9cbc0;
}
.bg-color {
  background-color: #b9cbc0;
}
.hidden {
  display: none !important;
}
.side-form {
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
  overflow-x: scroll;
}
.side-form .side-form-content {
  top: 10%;
  margin-top: 0px;
}
.side-form .close-btn {
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.side-form a {
  padding: 8px;
  font-size: 36px;
  color: #818181;
  transition: 0.3s;
}
.side-form a:hover,
.side-form a:focus {
  color: #f1f1f1;
}
.top-form {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
  overflow-y: scroll;
}
.top-form .side-form-content {
  top: 10%;
  margin-top: 0px;
}
.top-form .close-btn {
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.top-form a {
  padding: 8px;
  font-size: 36px;
  color: #818181;
  transition: 0.3s;
}
.top-form a:hover,
.top-form a:focus {
  color: #f1f1f1;
}
.card-img-top {
  height: 200px !important;
}
.article-image {
  width: 1140px !important;
}
.fa {
  width: 25px;
  border-radius: 50%;
  font-size: 20px;
}
.fa:hover {
  background-color: #152f4f;
  transition: background-color 0.5s;
}
.fa-facebook {
  background-color: #3B5998;
  color: #fff;
}
.fa-twitter {
  background-color: #55ACEE;
  color: #fff;
}
.fa-linkedin {
  background-color: #007bb5;
  color: #fff;
}
.fa-instagram {
  background-color: #125688;
  color: #fff;
}
