@import url(https://fonts.googleapis.com/css?family=Open + Sans);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.hidden {
  display: none !important;
}
.progress-container {
  height: 6px;
  background: #ccc;
  z-index: 1;
}
.progress-container .progress-bar {
  height: 6px;
  width: 0%;
}
.default-navbar a {
  color: #fff !important;
  text-decoration: none;
  transition: 0.4s ease;
}
a:hover {
  color: #ccc !important;
  text-decoration: underline !important;
  transition: 0.3s ease;
}
.navi {
  background-color: #b9cbc0;
}
.bg-color {
  background-color: #b9cbc0;
}
.side-form {
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
  overflow-x: scroll;
}
.side-form .side-form-content {
  top: 10%;
  margin-top: 0px;
}
.side-form .close-btn {
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.side-form a {
  padding: 8px;
  font-size: 36px;
  color: #818181;
  transition: 0.3s;
}
.side-form a:hover,
.side-form a:focus {
  color: #f1f1f1;
}
.top-form {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
  overflow-y: scroll;
}
.top-form .side-form-content {
  top: 10%;
  margin-top: 0px;
}
.top-form .close-btn {
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.top-form a {
  padding: 8px;
  font-size: 36px;
  color: #818181;
  transition: 0.3s;
}
.top-form a:hover,
.top-form a:focus {
  color: #f1f1f1;
}
.jumbo {
  display: inline-block;
  width: 1080px;
  height: 480px;
  position: relative;
  overflow: hidden;
}
.jumbo:hover .jumbo-img {
  transform: scale(1.25);
  transition: transform 0.3s ease;
}
.jumbo .jumbo-img {
  height: inherit;
  top: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
  transform: scale(1);
  transition: transform 0.4s ease;
}
.jumbo .jumbo-box {
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
.jumbo h1,
.jumbo p,
.jumbo a {
  color: #ddd !important;
}
.card-container {
  height: auto;
  transform: scale(1);
  transition: transform 0.4s ease;
}
.card-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.card-container .card-img-bottom {
  height: 200px !important;
}
.article-image {
  width: 1140px !important;
}
.fa {
  width: 25px;
  border-radius: 50%;
  font-size: 20px;
}
.fa:hover {
  background-color: #152f4f;
  transition: background-color 0.5s;
}
.fa-facebook {
  background-color: #3B5998;
  color: #fff;
}
.fa-twitter {
  background-color: #55ACEE;
  color: #fff;
}
.fa-linkedin {
  background-color: #007bb5;
  color: #fff;
}
.fa-instagram {
  background-color: #125688;
  color: #fff;
}
