// out: style.css, sourcemap: true, compress: true;
// main: style.less;

@import 'fonts.less';
@import 'var.less';
@import 'mixins.less';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.progress-container {
  height: 6px;
  background: #ccc;
  z-index: 1;
  .progress-bar {
    height: 6px;
    width: 0%;
  }
}

.navi {
  background-color: #b9cbc0;
}

.bg-color {
  background-color: #b9cbc0;
}

.hidden {
  display: none !important;
}

.side-form {
  .overlay(@width: 0, @height: 100%);
  overflow-x: scroll;
}

.top-form {
  .overlay(@width: 100%, @height: 0);
  overflow-y: scroll;
}

.card-img-top {
  height: 200px !important;
}

.article-image {
  width: 1140px !important;
}

// SINGLE ARTICLE
.fa {
  width: 25px;
  border-radius: 50%;
  font-size: 20px;
  &:hover {
    background-color: #152f4f;
    transition: background-color 0.5s;
  }
}
.fa-facebook {
  .icons(@color: #3B5998);
}
.fa-twitter {
  .icons(@color: #55ACEE);
}
.fa-linkedin {
  .icons(@color: #007bb5);
}
.fa-instagram {
  .icons(@color: #125688);
}
